services:
  nginx:
    build: ./requirements/nginx
    container_name: nginx
    restart: always
    ports:
      - "443:443"
    volumes:
      - wordpress_files:/var/www/html/wordpress
    depends_on:
      - wordpress
    networks:
      - inception

  wordpress:
      build: ./requirements/wordpress
      container_name: wordpress
      restart: always
      depends_on:
        - mariadb
      env_file: .env
      environment:
        WORDPRESS_DB_HOST: mariadb
        WORDPRESS_DB_NAME: wordpress
        WORDPRESS_DB_USER: wp_user
        WORDPRESS_DB_ROOT_PASSWORD_FILE: /run/secrets/db_root_password
        WORDPRESS_DB_PASSWORD_FILE: /run/secrets/db_password
      secrets:
        - db_root_password
        - db_password
        - credentials
      volumes:
        - wordpress_files:/var/www/html/wordpress
      networks:
        - inception

  mariadb:
      build: ./requirements/mariadb
      container_name: mariadb
      restart: always
      env_file: .env
      environment:
        MYSQL_DATABASE: ${MYSQL_DATABASE}
        MYSQL_USER: ${MYSQL_USER}
        MYSQL_PASSWORD_FILE: /run/secrets/db_password
        MYSQL_ROOT_PASSWORD_FILE: /run/secrets/db_root_password
      secrets:
        - db_password
        - db_root_password
      volumes:
        - mariadb_data:/var/lib/mysql
      networks:
        - inception

volumes:
  wordpress_files:
    driver_opts:
      type: none
      device: /home/yzhuang/data/wordpress
      o: bind
  mariadb_data:
    driver_opts:
      type: none
      device: /home/yzhuang/data/mariadb
      o: bind

secrets:
  db_password:
    file: ../secrets/db_password.txt
  db_root_password:
    file: ../secrets/db_root_password.txt
  credentials:
    file: ../secrets/credentials.txt

networks:
  inception:
    driver: bridge
